/**
 * Variables
 */

// Fonts
$primary-font: "Open Sans", Cantarell, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$primary-font-size: 1.12rem;
$primary-line-height: 1.5;
$code-family: "Fira Mono", monospace;
$text: #2c3e50;
$dark: darken($text, 10%);
$body-color: $text;
$body-font-size: $primary-font-size;
$body-line-height: $primary-line-height;

// Colors
$color-base: #222;
$color-primary: #0292e2; // #0066ff;
$color-secondary: #d14;

$primary: $color-primary;
$secondary: $color-secondary;

$color-white: #fff;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Colors
$color-accent: #d20068;
$gray: #6f6f77;
$gray-dark: #535358;
$gray-darkest: #2f313d;
$gray-light: #d8d8d8;
$gray-lighter: #e5e7e9;
$gray-lightest: #f9f9fb;
$yellow: #fffac4;
