//*-----------------------------------------
//* Post Feed
//*-----------------------------------------

.post-feed {
  background: #fff;
  @extend .is-offset-2;
  @extend .is-10;
  @extend .column;
  .post-meta {
    color: $gray;
    letter-spacing: 2px;
    margin-bottom: 1.42857em;
    text-transform: uppercase;
  }
}

.post-feed-title {
  color: $gray-dark;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 2.14285em;
  margin-top: 0;
  text-transform: uppercase;
}

.post-feed-title:after {
  background-color: $color-accent;
  display: block;
  content: "";
  height: 1px;
  margin-top: 15px;
  width: 60px;
}

.post-feed .post-meta {
  margin-bottom: 0;
  font-size: 0.8em;
}

.post-tags {
  @extend .hide-sm;
}

.post-tags a {
  display: inline-block;
  margin: 0 10px 0 0;
}

.post-tags a:before {
  content: "\0023";
}

.post {
  margin-bottom: 1.66667em;
}

.post-header {
  margin-bottom: 1.66667em;
}

.post-title {
  color: $gray-darkest;
  font-size: 2.22222rem;
  margin: 0 0 0.75em;
}

.post-title a {
  color: inherit;
  font-weight: 400;
}

h2.post-title {
  margin: 0 !important;
}

.taglist li {
  list-style: none;
  display: inline-block;
}

ul.taglist {
  margin: 0;
  padding: 0;
}
