//*-----------------------------------------
//* Footer
//*-----------------------------------------

.footer {
  background-color: #f5f5f5;
  padding: 3rem 1.5rem 1rem;
  border-top: 1px solid #cfcfcf;
  color: $text;
  .footer-title {
    color: $primary;
    p {
      font-size: 2.2rem;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .footer-title,
  .footer-links,
  .footer-social,
  .powered-by,
  .copyright {
    @extend .column;
  }
  .powered-by {
    text-align: right;
  }
  .footer-links {
    text-align: right;
  }
  .footer-social {
    @extend .is-2;
  }

  a.footer-link {
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
    color: $text;
  }

  a.footer-link:focus,
  a.footer-link:hover {
    color: $primary;
  }

  .copyright,
  .powered-by {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 0.9rem;
    color: $text;
    img {
      vertical-align: middle;
      height: 20px;
      padding-left: 5px;
    }
  }
  //*-----------------------------------------
  //* Social Box Icons
  //*-----------------------------------------
  .footer-social {
    font-size: 37px;
    text-align: center;
  }
  .footer-social .fa {
    background-color: rgba(0, 0, 0, 0.65);
    color: #fff;
    width: 50px;
    height: 50px;
    padding: 8px;
    text-align: center;
    margin-left: 5px;
  }
  .footer-social a .fa-twitter {
    background-color: #55acee;
  }
  .footer-social a .fa-facebook {
    background-color: #3b5998;
  }
  .footer-social a .fa-google-plus {
    background-color: #d34836;
  }
  .footer-social a .fa-tumblr {
    background-color: #36465d;
  }
  .footer-social a .fa-github {
    background-color: #333;
  }
  .footer-social a .fa-mastodon {
    background-color: #563acc;
  }
}
